@mixin font-bold {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
}

@mixin font-regular {
  font-family: 'Source Sans Pro', sans-serif;
}

@mixin font-light {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
}
