$grayDark: #838383;
$gray: #F1F1F1;
$grayBorder: #E4E4E4;
$white: #ffffff;
$blueDark: #14709E;
$blueNormal: #3F8EC3;
$red: #c00;
$dark: #4c4c4c;

$screen-xxs: 400px;
$screen-xs: 600px;
$screen-sm: 900px;
$screen-md: 1200px;
$screen-lg: 1800px;
