$grayDark: #838383;
$gray: rgb(241, 241, 241);
$grayBorder: rgb(228, 228, 228);
$white: #ffffff;
$blueDark: rgb(20, 112, 158);
$blueNormal: rgb(63, 142, 195);
$red: #c00;

$screen-xxs: 400px;
$screen-xs: 600px;
$screen-sm: 900px;
$screen-md: 1200px;
$screen-lg: 1800px;
