@import "universal";
@import "mixins";

.select-dropdown {
  .text-label {
    @include font-regular();
    color: $grayDark;
    margin-bottom: 5px;
  }

  .Select-control {
    border-radius: 0;
  }

  .Select-value {
    @include font-light();
    font-size: 14px;
    background-color: $blueNormal;
    color: $white;
    border: none;
  }
}
