@import "universal";
@import "helpers";
@import "mixins";

.vehicle-item {
  display: flex;
  height: 130px;
  width: 100%;
  margin-bottom: 20px;
  background-color: $white;
}

.vehicle-item__img {
  flex: 0 0 200px;
  border: 1px solid $grayBorder;
  img {
    width: 100%;
    height: 100%;
  }
}

.vehicle-item__features {
  flex: 1;
  padding: 10px 20px;
}

.vehicle-item__brand {
  @include font-condensed();
  color: $blueDark;
  font-size: 24px;
  letter-spacing: 0.5px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
  margin-bottom: 5px;
}

.vehicle-item__type {
  text-transform: capitalize;
  @include font-light();
  margin-bottom: 10px;
  font-size: 15px;
}

.vehicle-item__colors {
  display: flex;
}

@media only screen and (max-width: $screen-sm) {
  .vehicle-item {
    align-items: center;
    height: 140px;
  }

  .vehicle-item__brand {
    font-size: 20px;
  }

  .vehicle-item__img {
    flex: 0 0 120px;
    height: 90px;
  }

  .vehicle-item__colors {
    flex-wrap: wrap;
  }
}